@import "tailwindcss";

@font-face {
  font-family: 'BPG DedaEna';
  src: url('./fonts/bpg-dedaena-nonblock.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BPG Irubaqidze';
  src: url('./fonts/bpg-irubaqidze.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BPG Classic';
  src: url('./fonts/bpg-classic-medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BPG Nostalgia';
  src: url('./fonts/bpg-nostalgia.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BPG Nateli';
  src: url('./fonts/bpg-nateli.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BPG Glaho';
  src: url('./fonts/bpg-glaho.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
